#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	font-family: var(--fonte-principal);
	text-align: center;
	font-size: 20px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 45px;
}
.titulo-centralizado:hover{
    font-size: 30px;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

/* ul { */
	/* display: inline-block; */
	/* vertical-align: top; */
	/* width: 20%; */
	/* margin-right: 15%; */
/* } */

.imagembeneficios {
	width: 50%;
}

@media screen and (max-width: 1400px) {
        
	.titulo-centralizado {
		font-size: 10px;
	}

}
